<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
				http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

	<context:annotation-config />
	<bean id="urlMapping"
		class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="mappings">
			<props>
				<prop key="Test.do">Test</prop>
				<prop key="CustomerListViewDisplay.do">CustomerListViewDisplay</prop>
			</props>
		</property>
	</bean>
	<bean id="Test" class="com.application.spring.controller.Test">
		<property name="successView" value="Test" />
	</bean>
	<bean id="CustomerListViewDisplay" class="com.application.spring.controller.CustomerListViewDisplayController">
		<property name="successView" value="CustomerListViewPage" />
	</bean>


		
	<bean id="jstlViewResolver" class="com.application.spring.util.JstlViewResolver">
		<property name="order" value="1" />
		<property name="viewClass"	value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	<bean id="customerSearchService" class="com.application.spring.search.CustomerSearchServiceImpl" />
	
	<!-- Logging Method Intercepter Starts>
	<bean name="methodLoggingInterceptor" class="com.application.spring.Interceptor.logging.MethodLoggingInterceptor"/>
	<bean name="proxyCreator" class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
	    <property name="beanNames">
    	    <list>
        	    <value>*</value>
	        </list>
    	</property>
	    <property name="interceptorNames">
    	    <list>
        	    <value>methodLoggingInterceptor</value>
	        </list>
    	</property>
	</bean>
	<Logging Method Intercepter Ends -->
</beans>
