<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	
	<display-name>MeWeb</display-name>
	  <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
    </filter>
	<filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/dimit/*</url-pattern>
    </filter-mapping>
	
	
	
	<filter id="Filter_1">
		<description>Simple Login Filter</description>
		<display-name>LoginFilter</display-name>
		<filter-name>LoginFilter</filter-name>
		<filter-class>
			com.application.servlet.Filter.LoginFilter
		</filter-class>
		<init-param>
			<description>
			List of Revoked Users</description>
			<param-name>RevokedUsers</param-name>
			<param-value>C:\revokedUsers.lst</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<servlet-name>FilterServlet</servlet-name>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<servlet>
		<description></description>
		<display-name>SendMessage</display-name>
		<servlet-name>SendMessage</servlet-name>
		<servlet-class>
			com.application.servlet.mq.queue.SendMessage
		</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>FileUpLoader</display-name>
		<servlet-name>FileUpLoader</servlet-name>
		<servlet-class>
			com.application.servlet.help.upload.FileUpLoader
		</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>CachedConnectionServlet</display-name>
		<servlet-name>CachedConnectionServlet</servlet-name>
		<servlet-class>
			com.application.servlet.db.caching.CachedConnectionServlet
		</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>CacheHttpServlet</display-name>
		<servlet-name>CacheHttpServlet</servlet-name>
		<servlet-class>
			com.application.servlet.caching.CacheHttpServlet
		</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>CacheHttpServletResponse</display-name>
		<servlet-name>CacheHttpServletResponse</servlet-name>
		<servlet-class>
			com.application.servlet.caching.CacheHttpServletResponse
		</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>CacheServletOutputStream</display-name>
		<servlet-name>CacheServletOutputStream</servlet-name>
		<servlet-class>
			com.application.servlet.caching.CacheServletOutputStream
		</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>Guestbook</display-name>
		<servlet-name>Guestbook</servlet-name>
		<servlet-class>
			com.application.servlet.caching.Guestbook
		</servlet-class>
	</servlet>

	<servlet>
		<description></description>
		<display-name>HelpTextServlet</display-name>
		<servlet-name>HelpTextServlet</servlet-name>
		<servlet-class>
			com.application.servlet.bib.helpText.HelpTextServlet
		</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>ProtectedServlet</display-name>
		<servlet-name>ProtectedServlet</servlet-name>
		<servlet-class>
			com.application.servlet.authorization.ProtectedServlet
		</servlet-class>
		<init-param>
			<description></description>
			<param-name>passwordFile</param-name>
			<param-value>./password.properties</param-value>
		</init-param>
	</servlet>
	<servlet>
		<description></description>
		<display-name>CookieeServlet</display-name>
		<servlet-name>CookieeServlet</servlet-name>
		<servlet-class>
			com.application.servlet.cookies.CookieeServlet
		</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>ShowCookies</display-name>
		<servlet-name>ShowCookies</servlet-name>
		<servlet-class>
			com.application.servlet.cookies.ShowCookies
		</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>SessionFixation</display-name>
		<servlet-name>SessionFixation</servlet-name>
		<servlet-class>
			com.application.servlet.sessionFixation.SessionFixation
		</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		FilterServlet</display-name>
		<servlet-name>FilterServlet</servlet-name>
		<servlet-class>
		com.application.servlet.Filter.FilterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SendMessage</servlet-name>
		<url-pattern>/SendMessage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FileUpLoader</servlet-name>
		<url-pattern>/FileUpLoader</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CachedConnectionServlet</servlet-name>
		<url-pattern>/CachedConnectionServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CacheHttpServlet</servlet-name>
		<url-pattern>/CacheHttpServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CacheHttpServletResponse</servlet-name>
		<url-pattern>/CacheHttpServletResponse</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CacheServletOutputStream</servlet-name>
		<url-pattern>/CacheServletOutputStream</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Guestbook</servlet-name>
		<url-pattern>/Guestbook</url-pattern>
	</servlet-mapping>


	<servlet-mapping>
		<servlet-name>HelpTextServlet</servlet-name>
		<url-pattern>/HelpTextServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProtectedServlet</servlet-name>
		<url-pattern>/ProtectedServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CookieeServlet</servlet-name>
		<url-pattern>/CookieeServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowCookies</servlet-name>
		<url-pattern>/ShowCookies</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SessionFixation</servlet-name>
		<url-pattern>/SessionFixation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FilterServlet</servlet-name>
		<url-pattern>/FilterServlet</url-pattern>
	</servlet-mapping>
</web-app>
